<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
   <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="9" sizeXs="12">
        <div class="texto">Licenciatura</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12">
        <div class="texto">En</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="9" sizeMd="9" sizeXs="12">
        <div class="texto">Ingenieria</div>
      </ion-col>
      <ion-col sizeLg="3" sizeMd="5" sizeXs="12">
        <div class="texto">Informatica</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
